header.title {
  background-color: rgba(0, 0, 0, 0.7);
  overflow: hidden;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; }
  header.title h1 a, header.title h2 a {
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    width: 100%;
    height: 100%;
    display: block;
    color: #eeeeee;
    padding-top: .7em;
    padding-bottom: .7em;
    padding-left: 20px; }
    header.title h1 a:hover, header.title h2 a:hover {
      background-color: rgba(255, 255, 255, 0.9);
      color: #333333;
      text-decoration: none; }
  header.title h1 {
    font-size: 230%;
    margin: 0;
    width: 160px;
    float: left; }
    header.title h1 span.big {
      padding-bottom: .5em; }
    header.title h1 span.small {
      display: none;
      font-size: 50%;
      line-height: 1em; }
      header.title h1 span.small:nth-child(2) {
        padding-top: 15px; }
  header.title .fixed-nav {
    max-width: 200px;
    float: left;
    margin-top: 1.4em; }
    header.title .fixed-nav #menu {
      padding-top: .7em; }
      header.title .fixed-nav #menu [class*="col-"] {
        padding: 0; }
      header.title .fixed-nav #menu .menu-main li {
        font-weight: bold; }
      header.title .fixed-nav #menu .menu-projects {
        display: none; }
        header.title .fixed-nav #menu .menu-projects p.projects-header {
          display: inline-block;
          color: #dddddd;
          font-weight: bold;
          margin: 0; }
      header.title .fixed-nav #menu a {
        -webkit-transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
        -ms-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
        width: 100%;
        height: 100%;
        display: block;
        text-decoration: none;
        color: #dddddd;
        padding: 0.4em;
        padding-left: 20px; }
        header.title .fixed-nav #menu a:hover {
          background-color: rgba(255, 255, 255, 0.9);
          color: #333333;
          padding-left: 25px; }
        header.title .fixed-nav #menu a.selected {
          background-color: rgba(255, 255, 255, 0.8);
          color: #333333; }
      header.title .fixed-nav #menu ul {
        margin-left: 0;
        padding: 0; }
        header.title .fixed-nav #menu ul li {
          display: block;
          position: relative;
          margin-left: 0;
          width: 100; }
          header.title .fixed-nav #menu ul li p {
            padding: 10px;
            margin-bottom: 0; }

/** fixed utility class **/
body.homepage header.fixed {
  position: fixed !important;
  left: 0;
  top: 0; }

.content a {
  color: #111111;
  border-bottom: 1px solid #AAA; }
  .content a:hover {
    text-decoration: none;
    border-bottom-color: #000; }
.content blockquote {
  font-style: italic; }
.content p.summary {
  font-weight: bold;
  cursor: pointer; }

.jumbotext {
  padding-top: 3em;
  padding-bottom: 1em; }
  .jumbotext h2, .jumbotext h3 {
    color: white;
    text-shadow: 0 1px 2px #222222; }

.tagline {
  text-align: center; }

.tooltip {
  background: white;
  border-radius: 4px;
  padding: 15px 30px 30px 30px;
  position: absolute;
  opacity: 0;
  top: 0;
  left: 60%;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
  pointer-events: none; }
  .tooltip::before {
    content: "";
    height: 12px;
    width: 12px;
    position: absolute;
    left: 46%;
    top: -6px;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    background: white;
    line-height: 0; }
  .tooltip p {
    margin-top: 0; }
  .tooltip code {
    color: #5A5A5A; }

.description {
  color: white;
  text-shadow: 0 1px 2px #222222;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-top: 2.5em;
  max-width: 70%; }
  .description p {
    margin-bottom: 1.5em; }

.caption {
  padding: 2.7em;
  padding-top: 1em;
  padding-bottom: 1em;
  min-width: 20em;
  background-color: rgba(0, 0, 0, 0.8);
  color: #eeeeee;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  margin-bottom: .7em; }
  .caption p {
    margin: 0; }

.project-info {
  padding-top: 3em; }
  .project-info.no-top {
    padding-top: 0; }
  .project-info dl {
    font-size: 83%;
    color: #777777; }
    .project-info dl dt {
      font-weight: normal; }
    .project-info dl dd p {
      display: inline; }

/** everything EXCEPT PHONE **/
@media screen and (min-width: 768px) {
  .project-info dl {
    margin-left: -150px;
    margin-right: auto; }
    .project-info dl dt {
      float: left;
      width: 150px;
      text-align: right;
      padding-right: 3.3em; }
    .project-info dl dd {
      float: left;
      width: 75%;
      max-width: 75%; } }
.project-process {
  margin-top: 2.5em;
  margin-left: auto;
  margin-right: auto;
  max-width: 70%; }
  .project-process p {
    color: white;
    text-shadow: 0 1px 2px #222222;
    font-size: 120%;
    font-size: 1.2vw; }

/*[class*="col-"]{
    margin-bottom: -99999px;
    padding-bottom: 99999px;

}*/
.row {
  overflow: hidden; }

.face-image {
  text-align: center; }
  .face-image img {
    max-width: 150px;
    width: 100%;
    height: auto; }

.intro-text {
  width: 100%; }
  .intro-text p {
    text-align: center;
    padding-top: 1.5em;
    color: white;
    text-shadow: 0 1px 2px #222222;
    font-size: 170%; }
  .intro-text a {
    color: white; }

a.nav-down {
  display: none;
  position: absolute;
  bottom: 1.2em;
  left: 50%;
  margin-left: -37.5px;
  width: 75px;
  height: 30px;
  background-image: url("../images/arrow_down.svg");
  background-position: center center;
  background-repeat: no-repeat;
  opacity: .6; }
  a.nav-down:hover {
    opacity: 1; }

.client-list, .project-list, .contact-list {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; }
  .client-list ul, .project-list ul, .contact-list ul {
    padding-left: 0; }
    .client-list ul li, .project-list ul li, .contact-list ul li {
      list-style-type: none; }
      .client-list ul li a:hover, .project-list ul li a:hover, .contact-list ul li a:hover {
        text-decoration: none; }

.client-list, .project-list {
  margin-top: 4em; }
  .client-list ul li, .project-list ul li {
    padding-right: 2em;
    padding-bottom: 2em; }
  .client-list p, .project-list p {
    padding-top: .6em;
    color: black;
    text-align: center; }
  .client-list img, .project-list img {
    max-width: 100%;
    height: auto;
    /*
    &:hover {
    	@include desaturate(false);
    };
    */ }

.project-list img {
  box-shadow: 0 1px 1px rgba(34, 34, 34, 0.7); }
.project-list li a .image-overlay {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.3);
  width: 100%;
  height: 100%;
  opacity: 0;
  text-align: center; }
  .project-list li a .image-overlay span {
    color: #eeeeee;
    font-size: 1.8em; }
.project-list li a:hover .image-overlay {
  opacity: 1; }

.contact-list {
  font-size: 1.6em; }
  .contact-list a {
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    opacity: .9; }
    .contact-list a:hover {
      opacity: 1; }
  .contact-list li {
    padding-bottom: .3em; }
  .contact-list img {
    width: 18%;
    height: auto;
    margin-right: .3em; }

.client-list a, .project-list a {
  -webkit-transition: opacity 0.2s ease-out;
  -moz-transition: opacity 0.2s ease-out;
  transition: opacity 0.2s ease-out;
  opacity: .6; }
  .client-list a:hover, .project-list a:hover {
    opacity: 1; }

/** for About page **/
.about-row {
  margin-bottom: 2.7em; }

.about-section {
  background-color: rgba(0, 0, 0, 0.7);
  color: black;
  padding: 2.7em;
  height: 100%;
  margin-bottom: -99999px;
  padding-bottom: 99999px; }
  .about-section h2 {
    font-size: 100%;
    font-size: 3vw; }
  .about-section p {
    font-size: 100%;
    font-size: 1.3vw;
    line-height: 140%; }
  .about-section ul {
    margin: 0;
    padding: 0; }
    .about-section ul li {
      list-style-type: none;
      margin-bottom: .5em;
      font-size: 1.3vw; }
  .about-section p:last-child, .about-section ul:last-child, .about-section img:last-child {
    margin-bottom: 2.7em; }

.slide {
  width: 100%;
  background-image: url("../images/bg_light.png");
  position: relative;
  overflow: hidden; }
  .slide.image-bg {
    background-color: rgba(0, 0, 0, 0.3);
    background-size: cover;
    background-position: center center; }
    .slide.image-bg .slide-image {
      display: none; }
  .slide.dark-bg .slide-descr h2, .slide.dark-bg .slide-descr p, .slide.dark-bg .slide-descr dt, .slide.dark-bg .slide-descr dd {
    color: #eeeeee; }
  .slide .slide-image {
    display: block;
    height: 200px;
    background-color: rgba(0, 0, 0, 0.3);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    transition: height .4s ease-out;
    box-shadow: inset 0 0 40px 5px rgba(34, 34, 34, 0.8);
    text-decoration: none;
    margin-left: -20px;
    margin-right: -20px;
    cursor: pointer; }
    .slide .slide-image .overlay {
      -webkit-transition: background-color 0.2s ease-out;
      -moz-transition: background-color 0.2s ease-out;
      transition: background-color 0.2s ease-out;
      background-color: rgba(0, 0, 0, 0);
      width: 100%;
      height: 100%; }
      .slide .slide-image .overlay .info-text {
        -webkit-transition: color 0.2s ease-out;
        -moz-transition: color 0.2s ease-out;
        transition: color 0.2s ease-out;
        color: rgba(255, 255, 255, 0);
        font-size: 2.5em;
        padding-top: 2em;
        text-align: center; }
    .slide .slide-image.full {
      box-shadow: none;
      background-size: contain;
      margin-left: 0;
      margin-right: 0;
      background-color: #000; }
      .slide .slide-image.full .overlay {
        background-color: rgba(0, 0, 0, 0); }
        .slide .slide-image.full .overlay .info-text {
          display: none; }
      .slide .slide-image.full:hover .overlay .info-text {
        display: none; }
    .slide .slide-image .caption {
      float: right; }
  .slide .slide-info {
    position: absolute;
    bottom: 2em;
    vertical-align: baseline;
    text-align: center;
    font-size: 2.9vw; }
    .slide .slide-info p {
      font-style: italic; }
  .slide .slide-descr {
    min-width: 20em;
    max-width: 80em; }
    .slide .slide-descr .slide-text {
      padding-top: 2.7em;
      padding-bottom: 2.7em; }
      .slide .slide-descr .slide-text.no-bottom {
        padding-bottom: 0; }
    .slide .slide-descr h2, .slide .slide-descr h3, .slide .slide-descr h4, .slide .slide-descr h5 {
      margin-top: .6em;
      margin-bottom: .6em; }
    .slide .slide-descr h2 {
      font-size: 2.9em; }
    .slide .slide-descr h3 {
      font-size: 1.8em; }
    .slide .slide-descr h4 {
      font-size: 1.6em; }
    .slide .slide-descr p, .slide .slide-descr dd {
      margin-bottom: 1.2em; }
    .slide .slide-descr p, .slide .slide-descr dt {
      font-size: 1.4em; }
    .slide .slide-descr dt {
      clear: both; }

.blueimp-gallery {
  -webkit-transition: opacity 0.3s ease-in-out;
  -moz-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out; }
  .blueimp-gallery > .title {
    position: absolute;
    right: 0;
    top: 0;
    padding: 2.7em;
    padding-top: 1em;
    padding-bottom: 1em;
    min-width: 20em;
    background-color: rgba(0, 0, 0, 0.8);
    color: #eeeeee;
    font-size: 14px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    margin-bottom: .7em;
    margin-top: 11px;
    padding-right: 50px; }
    .blueimp-gallery > .title p {
      margin: 0; }
  .blueimp-gallery .slide {
    background-image: none; }

footer {
  padding-top: 2em;
  background-image: url("../bg.png"); }
  footer .navigate-further {
    text-align: center; }
    footer .navigate-further a.project-nav {
      -webkit-transition: all 0.3s ease-in-out;
      -moz-transition: all 0.3s ease-in-out;
      -o-transition: all 0.3s ease-in-out;
      -ms-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out;
      padding: 1em;
      width: 100%;
      display: block; }
      footer .navigate-further a.project-nav:hover {
        background-color: rgba(255, 255, 255, 0.9);
        text-decoration: none; }
        footer .navigate-further a.project-nav:hover p.link, footer .navigate-further a.project-nav:hover p.teaser {
          color: #333333; }
      footer .navigate-further a.project-nav p.link {
        color: #eeeeee;
        font-size: 2em; }
      footer .navigate-further a.project-nav p.teaser {
        color: rgba(238, 238, 238, 0.7);
        font-size: 1.6em;
        margin-top: 1em; }

@media screen and (max-width: 991px) {
  .blueimp-gallery > .prev, .blueimp-gallery > .next, .blueimp-gallery > .close {
    display: none; } }
/** everything EXCEPT PHONE **/
@media screen and (min-width: 768px) {
  header.title {
    position: fixed;
    z-index: 1001;
    width: 100%;
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0); }
    header.title h1 {
      width: 200px; }
      header.title h1 span.small {
        display: block; }
    header.title .fixed-nav {
      margin-left: 200px;
      max-width: none;
      min-width: 60em;
      margin-top: 0;
      float: none; }
      header.title .fixed-nav #menu {
        font-size: 120%; }
        header.title .fixed-nav #menu .menu-main {
          margin-top: .8em;
          width: 140px;
          float: left; }
          header.title .fixed-nav #menu .menu-main .hide-full {
            display: none; }
        header.title .fixed-nav #menu .menu-projects {
          display: block;
          margin-top: .8em;
          width: auto;
          margin-left: 155px;
          max-width: 49em; }
          header.title .fixed-nav #menu .menu-projects li {
            min-width: 120px; }

  /** style for homepage **/
  body.homepage header.title {
    position: static; }
  body.homepage .jumbotext {
    padding-top: 3em; }
  body.homepage #content {
    height: 100%; }
  body.homepage #home-slide {
    min-height: 100%; }
    body.homepage #home-slide a.nav-down {
      display: block; }
  body.homepage .intro-text p {
    font-size: 1.7vw; }
  body.homepage .intro-text {
    width: 100%; }
    body.homepage .intro-text p {
      display: block;
      float: left;
      width: 50%;
      padding: 1.5em; }
      body.homepage .intro-text p.left-align {
        text-align: left;
        padding-right: .5em; }
      body.homepage .intro-text p.right-align {
        text-align: right;
        padding-left: .5em; }

  .container {
    padding-top: 0;
    padding-left: 16em; }

  .jumbotext {
    padding-top: 19em;
    padding-bottom: 1em; }

  .description {
    font-size: 150%;
    font-size: 1.8vw; }

  .tagline h2 {
    font-size: 3em; }
  .tagline h3 {
    font-size: 2em; }

  .slide .slide-descr h2 {
    font-size: 4em; }
  .slide .slide-descr h3 {
    font-size: 2.7em; }
  .slide .slide-descr h4 {
    font-size: 2.1em; }
  .slide .slide-descr p, .slide .slide-descr blockquote, .slide .slide-descr dt {
    font-size: 1.6em; }
  .slide .slide-descr .slide-text {
    padding-left: 2.7em;
    padding-right: 2.7em; } }
/** only DESKTOPS AND UP ( not tablets ) **/
@media screen and (min-width: 992px) {
  .container {
    padding-right: 16em; }

  .slide-image:hover .overlay {
    background-color: rgba(0, 0, 0, 0.3); }
    .slide-image:hover .overlay .info-text {
      color: white; }

  .tagline h2 {
    font-size: 4em;
    font-size: 4vw; }
  .tagline h3 {
    font-size: 3em; } }
@media screen and (min-width: 1400px) {
  /**
  bigger font sizes
  **/
  .tagline h2 {
    font-size: 4.5em; }
  .tagline h3 {
    font-size: 3.3em; }

  .slide .slide-descr h2 {
    font-size: 5em; }
  .slide .slide-descr h3 {
    font-size: 3.3em; }
  .slide .slide-descr h4 {
    font-size: 2.4em; }
  .slide .slide-descr p, .slide .slide-descr blockquote, .slide .slide-descr dt {
    font-size: 1.8em; } }
/** HACK: turn off animations on android 2-3 **/
.touch.no-webgl * {
  -webkit-animation: none !important; }

body.frog header {
  display: none; }
body.frog .jumbotext {
  padding-top: 4em; }

p.summary.frog {
  padding-left: 5.3em;
  background-image: url("../images/frog/frog_logo_small.png");
  background-repeat: no-repeat; }

@media screen and (min-width: 768px) {
  p.summary.frog {
    margin-left: -5.3em; } }
html, body {
  width: 100%;
  height: 100%; }

body, h1, h2, h3, h4, h5, p {
  font-family: 'Lato', Helvetica, Arial, sans-serif; }

body {
  font-weight: 300;
  background-image: url(../images/bg.png); }

h1, h2, h3, h4, h5 {
  font-weight: 200; }

.container {
  width: 100%; }

.background-fade {
  background-image: -webkit-radial-gradient(50% 50%,  contain ellipse, rgba(50, 50, 50, 0.5), rgba(255, 255, 255, 0));
  background-image: radial-gradient( contain ellipse at 50% 50%, rgba(50, 50, 50, 0.5), rgba(255, 255, 255, 0)); }

.overlay {
  height: 100%;
  min-height: 100%;
  background-color: rgba(0, 0, 0, 0.3); }
